body {
  /***background-color: powderblue;*/
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: #E4F9F5
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}

.mec {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 700px;
}
